* {
    padding: 0;
    margin: 0;
}
body{
background-color: #080877;
}
#parnetDiv {
    width: 100%;
    padding: 15px;
    background-color: rgb(22, 5, 65);
}

.codeDiv {
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    background-color: rgb(222, 223, 202);
}


.hdg {
    text-align: center;
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    padding: 6px;
    background-color: #5D5DEF;
}

#bilza {
    text-align: center;
    overflow: visible;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-color: rgb(1, 1, 45);
}

.language-javascript {   padding-left: 25%;  }